<html xmlns:th="https://thymeleaf.org" lang="ru">
<head>
    <title>File Uploader</title>
    <link rel="stylesheet" th:href="@{./styles.css}"/>
</head>
<body>
<div class="container">

    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>


    <form id="fileupload-form" method="POST" enctype="multipart/form-data" action="/upload-file">
        <div class="fieldset-wrapper">
            <fieldset>
                <legend>Upload your file</legend>
                <p class="field field-text">
                    <label for="file-upload">File to upload:</label>
                    <input id="file-upload" type="file" name="file"/>
                </p>
                <button type="submit" value="Upload">Upload</button>
            </fieldset>
        </div>
    </form>
</div>
</body>
</html>